# Roll#  PIAIC59391


In this assignment, you will explore and document various methods associated with the Python list data structure. You will provide explanations for each method, include examples of their usage, and specify the return type of each method.Instructions:
Research and List: Identify and list the common methods available for Python lists. For each method, provide the following:
Description: A brief explanation of what the method does.
Syntax: How the method is used, including its parameters.
Return Type: Specify what type of value the method returns (e.g., None, a new list, a boolean, etc.).
Methods to Cover: Ensure your document includes, but is not limited to, the following methods:

append()
extend()
insert()
remove()
pop()
clear()
index()
count()
sort()
reverse()
copy()


Create the Document: Use Google Docs or Microsoft Word to create your document.

# 1) append() takes one argument to add new item in list. it will add at the end of list & returns none. check following example.

In [70]:
name:str=["suleman","ali","farooq"]
print(name.append("new"))
print(name)

None
['suleman', 'ali', 'farooq', 'new']

# 2) extend() takes one argument (should be iterable) to add items in list. it will also add at the end of list & returns none. mostly it is used to add multiple items in a list. check example

In [71]:
name:str=["suleman","ali","farooq"]
name.extend(["new1","new2"])
name

['suleman', 'ali', 'farooq', 'new1', 'new2']

# 3) insert() takes two argument (index,value). it will add value at specified index in a list & returns nothing.check example

In [72]:
name:str=["suleman","ali","farooq"]
name.insert(1,"special")
name

['suleman', 'special', 'ali', 'farooq']

# 4) remove() takes one one argument to remove from list.if the value exists in a list then it will remove (first occurance) from the list. it returns nothing check following example.

In [79]:
name:str=["suleman","ali","farooq","suleman"]
name.remove("suleman")
name

['ali', 'farooq', 'suleman']

# 5) pop() is used to remove item at last index if we give argument in form if index then it will remove item at specified index. & returns nothing. check following example

In [82]:
name:str=["suleman","ali","farooq","omer","awaise"]
name.pop()
print(name)
name.pop(1)
name

['suleman', 'ali', 'farooq', 'omer']

['suleman', 'farooq', 'omer']

# 6) clear() is used to remove all items in the list & returns nothing. check following example

In [84]:
name:str=["suleman","ali","farooq","omer","awaise"]
name.clear()
name

None

[]

# 7) index() is used to check whether the given value exists in the list. if the given value exists in the list it will return  the index (first occurance) of the value

In [100]:
name:str=["suleman","ali","farooq","omer","awaise","ali"]
name.index("ali")

1

# 8) count() is return the total number of occurance of specific value in the list. check following example

In [99]:
name:str=["suleman","ali","farooq","omer","awaise","ali"]
name.count("ali")

2

# 9) sort() is used to arrange the values in alphabetically. it returns nothing check following example

In [107]:
name:str=["suleman","ali","farooq","omer","awaise","ali"]
name.sort()
name

['ali', 'ali', 'awaise', 'farooq', 'omer', 'suleman']

# 10) reverse() is used to arranges the value of list in reverse order. check following example. it returns nothing.

In [110]:
name:str=["suleman","ali","farooq","omer","awaise","ali"]
name.reverse()
name

['ali', 'awaise', 'omer', 'farooq', 'ali', 'suleman']

# 11) copy() is used to copy all values of list in new variable.check following example.

In [112]:
name:str=["suleman","ali","farooq","omer","awaise","ali"]
newlist:str=name.copy()
newlist

['suleman', 'ali', 'farooq', 'omer', 'awaise', 'ali']